In [4]:
# loading dataset
from datasets import load_dataset

dataset = load_dataset("cakiki/rosetta-code", split="train")

Downloading data files:   0%|          | 0/1 [00:00<?, ?it/s]

Downloading data:   0%|          | 0.00/36.8M [00:00<?, ?B/s]

Extracting data files:   0%|          | 0/1 [00:00<?, ?it/s]

Generating train split:   0%|          | 0/79013 [00:00<?, ? examples/s]

In [45]:
dataset

Dataset({
    features: ['task_url', 'task_name', 'task_description', 'language_url', 'language_name', 'code'],
    num_rows: 79013
})

In [19]:
import pandas as pd
import matplotlib.pyplot as plt

data = pd.Series(dataset['language_name']).value_counts()

In [56]:
type(dataset['language_name'])

list

In [65]:
data = pd.DataFrame(list(zip(dataset['code'],dataset['language_name'])),columns = ['code','language_name'],index = None)
# pd.DataFrame(list(zip(lst, lst2)),
#                columns =['Name', 'val'])
data['code'] = data['code'].apply(lambda x: x.replace('\n',' '))
data

                                                    code      language_name
0      BEGIN # find all primes with strictly increasi...           ALGOL 68
1      ascending?: function [x][     initial: digits ...             Arturo
2        # syntax: GAWK -f ASCENDING_PRIMES.AWK BEGIN...                AWK
3        // Ascending primes. Nigel Galloway: April 1...                 F#
4      USING: grouping math math.combinatorics math.f...             Factor
...                                                  ...                ...
79008  do(2){ask("A B: ").split(" ").filter().sum().p...                zkl
79009  program: a_plus_b   input: '7 11'    output: 1...               Zoea
79010    module ABProblem; var \ta,b: integer; begin ...        Zoea Visual
79011    module ABProblem; var \ta,b: integer; begin ...             zonnon
79012  10 PRINT "Input two numbers separated by"'"spa...  ZX Spectrum Basic

[79013 rows x 2 columns]

In [54]:
data

                                                                   0
ALGOL 68           BEGIN # find all primes with strictly increasi...
Arturo             ascending?: function [x][\n    initial: digits...
AWK                 \n# syntax: GAWK -f ASCENDING_PRIMES.AWK\nBEG...
F#                  \n// Ascending primes. Nigel Galloway: April ...
Factor             USING: grouping math math.combinatorics math.f...
...                                                              ...
zkl                do(2){ask("A B: ").split(" ").filter().sum().p...
Zoea               program: a_plus_b\n  input: '7 11' \n  output:...
Zoea Visual         \nmodule ABProblem;\nvar\n\ta,b: integer;\nbe...
zonnon              \nmodule ABProblem;\nvar\n\ta,b: integer;\nbe...
ZX Spectrum Basic  10 PRINT "Input two numbers separated by"'"spa...

[79013 rows x 1 columns]

In [30]:
data[pd.Series(dataset['language_name']).value_counts()>400]

Phix        1181
Julia       1179
Wren        1177
Go          1172
Raku        1168
            ...
PHP          439
Prolog       434
Action!      425
PL/I         421
Quackery     419
Name: count, Length: 63, dtype: int64